<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBvAmxY7m4kRi1z98kggW6rGN4GleMjkEM</string>
	<key>GCM_SENDER_ID</key>
	<string>189991414826</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.licensehome.licensehome</string>
	<key>PROJECT_ID</key>
	<string>graduation-project-aad7b</string>
	<key>STORAGE_BUCKET</key>
	<string>graduation-project-aad7b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:189991414826:ios:61e3f36f093b7386cda753</string>
	<key>DATABASE_URL</key>
	<string>https://graduation-project-aad7b-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>